{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block container %}

<div class="sectionSeven" id="sec">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h2 class="text-secondary text-center">UIB-WEB</h2>
					<hr id="paddinghr">
					<div class="row">
						<div class="col-sm-12 col-xs-12 col-md-4 col-lg-4">
							<div class="card">
								<img src="../../view/img/1370.jpg" alt="" class="rounded card-img-top">
							</div>
						</div>
						<div class="col-sm-12 col-xs-12 col-md-8 col-lg-8">
							<h4 class="text-secondary text-right text-warning">¿Qué es UIB?</h4>
							<p class="text-justify">
								Se contempla como una aplicación web con diseño responsive design (diseño adaptativo), que brinda herramientas de apoyo tecnológico y académico a los estudiantes para interactuar, comunicarse y establecer encuentros entre dos o más estudiantes de la Corporación Universitaria Minuto de Dios.
								La aplicación UIB vislumbra un diseño simple, atractivo y cómodo, en tanto cumplirá con tipografías legibles, con menús de navegación, paneles y secciones sencillas, lo que permitirá una mejor experiencia para los usuarios.
								Además, UIB avista dentro de su desarrollo la confidencialidad y protección de los datos para la seguridad de la información de usuarios.
							</p>
						</div>
					</div>
					<hr id="paddinghr">
					<div class="row">
						<div class="col-sm-12 col-xs-12 col-md-8 col-lg-8">
							<h4 class="text-secondary text-danger">¿Porqué UIB?</h4>
							<p class="text-justify">
								La iniciativa nace en respuesta a las necesidades de los estudiantes de los diferentes programas académicos, evidenciando que hay dificultades en la comprensión de algunos temas específicos, los cuales se ven reflejados en los resultados cuantitativos y cualitativos (notas, comprensión teórica) de los trabajos o parciales realizados durante el semestre, en materias como programación de software, cálculo, entre otras asignaturas pertenecientes a las distintas facultades; además de ello, en algunos casos, el estudiante por timidez no pregunta al profesor sobre las dudas que se le han generado y a causa de esto, se verá afectado académicamente durante el semestre en el desarrollo de la asignatura.
							</p>
						</div>
						<div class="col-sm-12 col-xs-12 col-md-4 col-lg-4">
							<div class="card">
								<img src="../../view/img/454.jpg" alt="" class="rounded card-img-top">
							</div>
						</div>
					</div>
					<hr id="paddinghr">
					<h4 class="text-secondary text-center text-success">¿Qué me aporta UIB</h4>
					<p class="text-justify">
						Los beneficios de UIB, se reflejarán tanto en los estudiantes como en la Corporacion Universitaria Minuto de Dios, por lo que los alumnos fortalecerán sus competencias profesionales respecto a la carrera, mejorarán sus calificaciones y habrá un espacio para el intercambio de experiencias y conocimiento que se reflejará en la tendencia de comunidades de práctica.
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="sectionEight" id="sec">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
					<h2 class="text-secondary text-info text-center">Desarrollador</h2>
					<hr id="paddinghr">
					<div class="row">
						<div class="col-sm-12 col-xs-12 col-md-4 col-lg-4">
							<img src="img/me.jpg" alt="" class="card-img-top developer-img">
						</div>
						<div class="col-sm-12 col-xs-12 col-md-6 col-lg-6">
							<br>
							<kbd class="text-light text-justify">Bienvenidos a UIB, Me presento. <br>
								Mi nombre es <label class="badge badge-warning">José Londoño</label>, estudiante de tecnología en informática de sexto semestre de la Corporación Universitaria Minuto de Dios sede principal.</kbd>
							
						</div>
						<div class="col-sm-12 col-xs-12 col-md-2 col-lg-2 text-right">
							<br>
							<strong class="text-light text-right">Intereses</strong>
							<ul">
								<li><kbd><span class="badge badge-success">Java</span></kbd></li>
								<li><kbd><span class="badge badge-secondary">Programación Web</span></kbd></li>
								<li><kbd><span class="badge badge-danger">Php</span></kbd></li>
								<li><kbd><span class="badge badge-info">Base de Datos</span></kbd></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}	