{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block container %}
<!-- Start section one background first university -->
<section class="sectionOne">
    <div class="container-fluid" id="">
        <div class="row">
            <div class="col-md-12" id="backimg">
                <div class="rgba">
                    <div class="contenido container-fluid">
                        <h1 class="text-center">UIB-WEB</h1>
                        <h5 class="text-center">Comparte conocimientos con otros estudiantes.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End section one background first university -->
<!-- Start section two description UIB-WEB -->
<section class="SectionTwo" id="sec">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                <div class="card">
                    <div class="card-body">
                        <h3 class="text-tittle">UIB-WEB</h3>
                        <hr>
                        <p class="card-text text-justify" id="escribir">UIB se contempla como una aplicación web con diseño responsive design (diseño adaptativo), que brinda
                            herramientas de apoyo tecnológico y académico a los estudiantes para interactuar, comunicarse
                            y establecer encuentros entre dos o más estudiantes de la Corporación Universitaria Minuto de
                            Dios.</p>
                        <p class="card-text text-justify">se construye para dar respuesta a las necesidades de los estudiantes de la Corporación Universitaria
                            Minuto de Dios en requerir de manera inmediata un asesoramiento o tutoría en temas específicos
                            de la carrera de formación, ejemplo: programación de software, cálculo, estadística, entre otras
                            materias propias de la formación académica.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                <div class="card">
                    <img src="https://static.pexels.com/photos/531880/pexels-photo-531880.jpeg" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title text-center">Conocimiento didáctico</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END Start section two description UIB-WEB -->
<section class="sectionAnimate" id="sec">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h4 class="text-center text-secondary">
                    <kbd>¿Tienes dudas sobre algunas asignaturas?</h4>
                </kbd>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="contenedor text-center">
                        <h4 class="text-justify text-secondary" id="paddingtop">¡Qué esperas! </h4>
                        <h6 class="text-secondary text-justify">entra a UIB para que puedas hablar con muchos alumnos de Uniminuto, comparte tus inquietudes, publícalas
                            en el foro de UIB y reúnete con estudiantes para aprender de forma divertida y presencial</h6>
                        <hr id="paddinghr">
                        <strong class="text-center" id="paddinghr">Comienza tus primeros pasos haciendo click aquí</strong>
                        <br>
                        <a class="btn btn-dark" href="register">Registrar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}